Hello from Index
{{#link-to "orders" class="orders-link"}}Orders{{/link-to}}

<div class="card">
  <h1>Order Today!</h1>
  <p class="card-content">Our online store helps...</p>
  {{#link-to "orders"}}Order Today!{{/link-to}}
</div>

<div class="grid group">
  {{#each model as |product|}}
    <div class="product-media">
      <img src="{{product.imageUrl}}" />
    </div>
    <div class="product-content">
      <h2>{{product.title}}: <b>${{product.price}}</b></h2>
    </div>
  {{/each}}
</div>
